/*=======================================================================*/
/*Fonts*/
/*=======================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*=======================================================================*/
/*Colors*/
/*=======================================================================*/

:root{
    --white1: #FFFFFF;
    --white2: #d7d7d7;

    --black1: #0F0F0F;
    --black2: #303030;

    --gray1: #FBF8F5;

    --accent1: #11ABB0;
    --accent2: #F06000;

    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  

body{
    font-size: 1rem;
    font-family: 'Lora', sans-serif;
    line-height: 1.5rem;
    color: var(--black2);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/*=======================================================================*/
/*Header Nav*/
/*=======================================================================*/

header{
    position: relative;
}

nav{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--black1);
    color: var(--white2);
    padding: 0.5rem 1rem;
}


#nav-logo img{
    display: block;
    height: 5rem;
}


nav a{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
    display: block;
    padding: 1rem;
    color: var(--white2);
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

nav a:hover{
    color: var(--accent2);
    transform: scale(1.05);
}

#nav-toggler{
    position: absolute;
    top: calc(2.5rem + 0.5rem - 1rem);
    right: 1rem;
    cursor: pointer;
}

#nav-toggler svg{
    width: 2rem;
    height: 2rem;
}

#nav-links{
    display: none;
}

@media only screen and (min-width: 992px) {
    nav{
        display: flex;
        align-items: center;
    }

    #nav-links{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    #nav-toggler{
        display: none;
    }
}

/*=======================================================================*/
/*Sections*/
/*=======================================================================*/

main > section{
    padding: 7rem 1rem;
    text-align: center;
}

main > section > h1{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: inline;
    position: relative;
}

main > section > h1::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--accent1);
}

main > section > .section-content{
    margin-top: 7rem;
    text-align: justify;
}

@media only screen and (min-width: 768px) {
    main > section > .section-content{
        padding: 0 5%;
    }
}

@media only screen and (min-width: 992px) {
    main > section > .section-content{
        padding: 0 10%;
    }
}

@media only screen and (min-width: 1400px) {
    main > section > .section-content{
        padding: 0 15%;
    }
}


main > section > .section-content h2{
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
    margin-bottom: 1rem;
    color: var(--black1);
}


main > section .more{
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--accent2);
    margin-top: 1rem;
    position: relative;
}

main > section .more::after{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent2);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
  
main > section .more:hover::after{
    transform: scaleX(1);
}

.btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--accent2);
    color: var(--white1);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--accent1);
}

/*=======================================================================*/
/*Footer*/
/*=======================================================================*/

footer{
    background-color: var(--black1);
    color: var(--white2);
}

footer p{
    padding: 5rem 0;
    text-align: center;
}

  