/*=====================*/
/* Hero
/*======================*/

#hero{
    text-align: center;
    padding: 10rem 1rem 10rem 1rem;
    color: var(--color-text-5);
}

#hero h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Frank Ruhl Libre', sans-serif;
    color: var(--color-text-1);
    padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    #hero h1{
      font-size: 3rem;
    }
  }
  
  
  @media screen and (min-width: 1200px) {
    #hero h1{
        font-size: 4rem;
    }
  }

  #hero p{
    font-size: 1rem;
    font-family: 'Lora', sans-serif;
    color: var(--color-text-2);
    line-height: 1.75;
  }

/*=====================*/
/* About
/*======================*/

#about{
    padding: 10rem 1rem 10rem 1rem;
    font-family: 'Lora', sans-serif;
    color: var(--color-text-5);
    text-align: center;
}

#about h2{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text-4);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 5rem;
    position: relative;
    display: inline-block;
}

#about h2::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-accent-1);
}

#about p{
    text-align: justify;
}
  
/*=====================*/
/* Main
/*======================*/

main{
    padding: 10rem 1rem 0 1rem;
    font-family: 'Lora', sans-serif;
    color: var(--color-text-5);
    text-align: justify;
}

main .item{
    margin-bottom: 10rem;
  }
  
main .item img{
    max-height: 15rem;
}

main .item h5{
    font-size: 1.5rem;
    color: var(--color-text-4);
}

main .item .designation{
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-style: italic;
}

main .item .affiliation{
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

main .item .about{
    margin-top: 0rem;
    margin-bottom: 2rem;
}

main .social-content{
    text-align: left;
    color: var(--color-text-5);
}

main .social-content .wrapper{
    display: inline-block;
    position: relative;
}

main .social-content a{
    text-decoration: none;
    margin: 0 0.5rem;
}

main .social-content svg{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-text-5);
    transition: color 0.3s ease-in-out;
    transition: transform 0.05s ease-in-out;
}

main .social-content svg:hover{
    color: var(--color-accent-1);
    transform: scale(1.25);
}