main > section{
    padding: 3.5rem 1rem;
    text-align: center;
}

main > section > .section-content{
    margin-top: 5rem;
    text-align: justify;
}

main > section:first-child{
    padding-top: 7rem;
}
main > section:last-child{
    padding-bottom: 7rem;
}

main > section li{
    list-style: initial;
    margin-left: 2rem;
}

main > section p{
    margin-bottom: 1rem;
}

/*=======================================================================*/
/*Header*/
/*=======================================================================*/


#home{
    background-color: var(--black1);
    padding: calc(7rem + 3rem) 1rem 7rem 1rem;
    text-align: center;
}

#home > .home-content > h1{
    color: var(--white1);
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Frank Ruhl Libre', sans-serif;
    margin-bottom: 1rem;
    line-height: 1.25;
}

#home > .home-content > p{
    color: var(--white2);
    line-height: 1.8;
    letter-spacing: 0.05rem;
    text-align: left;
    text-align-last: center;
}

@media only screen and (min-width: 768px) {
    #home > .home-content{
        padding: 0 5%;
    }
    #home > .home-content > h1{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 992px) {
    #home > .home-content{
        padding: 0 10%;
    }
    #home > .home-content > h1{
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    #home > .home-content{
        padding: 0 15%;
    }
    #home > .home-content > h1{
        font-size: 4rem;
    }
}

/*=======================================================================*/
/*Selectors*/
/*=======================================================================*/

#selectors a{
    display: block;
    width: 100%;
    padding: 1.5rem 3rem;
    background-color: var(--accent2);
    color: var(--white1);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease-in-out;
}

#selectors a.active{
    background-color: var(--white1);
    color: var(--black1);
}

#selectors a.inactive:hover{
    background-color: var(--accent1);
}

@media only screen and (min-width: 992px) {

    #selectors{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.blink {
    animation: blink 1.2s infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*=======================================================================*/
/*About*/
/*=======================================================================*/

#about > h2{
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
    display: inline-block;
    position: relative;
}

@media only screen and (min-width: 768px) {
    #about > h2{
        padding: 0 5%;
    }
}

@media only screen and (min-width: 992px) {
    #about > h2{
        padding: 0 10%;
    }
}

@media only screen and (min-width: 1400px) {
    #about > h2{
        padding: 0 15%;
    }
}

#email{
    color: var(--accent2);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#top-email{
    margin: 1rem 0 0 0;
    color: var(--accent2);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

/*=======================================================================*/
/*Symptoms*/
/*=======================================================================*/

/*=======================================================================*/
/*Treatment*/
/*=======================================================================*/

/*=======================================================================*/
/*Resources*/
/*=======================================================================*/

#resources a{
    color: var(--accent2)
}






#flyer > img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    #flyer > img{
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    #flyer > img{
        width: 70%;
    }
}

@media only screen and (min-width: 1400px) {
    #flyer > img{
        width: 60%;
    }
}
